<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="test1">
    <a class="http">哔哩哔哩</a>
    <a class="http">ACfun</a>
    <a class="http">泥扣泥扣</a>
</div>
<label>
    <input class="rrr" name="df" type="text" value="111">
</label>
<p id="bar">111</p>
<script>
	/*

        const c = '3';
        console.log(c % 10 - 1);

        document.getElementById('test1').innerHTML = '';
        const d1 = document.getElementById('test1')
        console.log(d1);

        const pw = document.getElementById('bar');
        console.log(pw);*/

	/*	const pwd = document.getElementsByClassName('http')[document.getElementsByClassName('http').length - 1];
        console.log(pwd);*/

	const pwd2 = document.querySelector('a');
	console.log(pwd2);
	console.log(pwd2[0]);

	/*const pwde = document.getElementsByName('df')[0];
	console.log(pwde);
	// console.log(pwde.val());
	console.log(pwde.value);
	console.log(pwde.valueOf());
	console.log(pwde.valueOf().value);

	const div = document.getElementsByTagName('div');
	console.log(div);
	console.log(div[0]);
	console.log(div[0].id);
	console.log(div[0].children[0].textContent);
	console.log(div[0].childNodes[0]);

	div[0].innerHTML = ''
	console.log(div[0]);


	console.log(document.getElementsByTagName('input')[0].getAttribute('class'));
	document.getElementsByTagName('input')[0].setAttribute('class', 'bi bi-chevron-expand')
	console.log(document.getElementsByTagName('input')[0].getAttribute('class'));
	console.log(document.getElementsByTagName('input')[0].nodeValue);
	console.log(document.getElementsByTagName('input')[0].oninvalid);
	console.log(document.getElementsByTagName('input')[0].ariaValueMin);
	console.log(document.getElementsByTagName('input')[0].ariaValueNow);
	console.log(document.getElementsByTagName('input')[0].ariaValueText);
	console.log(document.getElementsByTagName('input')[0].valueOf());
	console.log(document.getElementsByTagName('input')[0].valueOf().value);*/
</script>
</body>
</html>