<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
		const myAsyncIterable = {};
		myAsyncIterable[Symbol.asyncIterator] = async function* () {
			yield "hello";
			yield "async";
			yield "iteration!";
		};
		const test = {
			const: "hello"
		};
		console.log(test);

		for (let i = 0; i < 3; i++) {
			console.log(myAsyncIterable[i]);
		}

		for (const myAsyncIterableElement of myAsyncIterable) {
			console.log(myAsyncIterableElement);
		}

		for (const myAsyncIterableKey in myAsyncIterable) {
			console.log(myAsyncIterableKey);
		}

		(async () => {
			for await (const x of myAsyncIterable) {
				console.log(x);
				// expected output:
				//    "hello"
				//    "async"
				//    "iteration!"
			}
		})();


		let i = 0;
		console.log(i++);
		console.log(i);
		console.log(++i);
		console.log(i);


		debugger;
		const LIMIT = 3;
		const asyncIterable = {
			[Symbol.asyncIterator]() {
				let i = 0;
				return {
					next() {
						const done = i === LIMIT;
						const value = done ? undefined : i++;
						return Promise.resolve({value, done});
					},
					return() {
						// This will be reached if the consumer called 'break' or 'return' early in the loop.
						return {done: true};
					}
				};
			}
		};

		(async () => {
			for await (const num of asyncIterable) {
				console.log(num);
			}
		})();


		/*const symbol1 = Symbol();
        const symbol2 = Symbol(42);
        const symbol3 = Symbol('foo');

        const oo = Object('foo');

        console.log(typeof symbol1);
        console.log(typeof oo);
        console.log(symbol1);
// expected output: "symbol"

        console.log(symbol2);
// expected output: false

        console.log(symbol3);
// expected output: "Symbol(foo)"

        console.log(Symbol() === Symbol());
// expected output: false
        console.log(Symbol());
        console.log(Symbol(325643));
        console.log(Symbol('325643'));
        console.log(Symbol('brgrbg'));
        console.log(Symbol.prototype);
        console.log(Symbol.prototype.constructor);
        console.log(Symbol.constructor);
        console.log(Symbol.prototype._csrf);
        console.log(Symbol.prototype.viewport);
        console.log(Symbol.prototype.author);
        console.log(Symbol.prototype.password);
        console.log(Symbol.prototype.username);
        console.log(Document.author);
        console.log(Document.username);
        console.log(Document.password);
        console.log(Symbol.prototype.isPrototypeOf(Object));
        console.log(Symbol.length);
        console.log(Symbol.name);*/
		// alert(SymbolConstructor.Symbol);
		// alert(symbol());
		// alert(Symbol.prototype);
    </script>
</head>
<body>
</body>
</html>