<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">

        .dom1 {
            position: relative;
            width: 150px;
            height: 150px;
            background: #00f;
        }

        .dom2 {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100px;
            background: #999;
        }

    </style>
</head>
<body>
<div class="dom1"></div>
<div class="dom2"></div>
<label>
    <input id="buttons-hbox" type="text" value="111">
</label>
<script>
    window.onload = function () {

        const a = 0;
        const b = 1;

        console.log(a || b)
        console.log(b || a)
        console.log(1 < 2 || 2 > 3)
        console.log(2 > 3 || 1 < 2)

        return;


        const getWindowInfo = () => {
            const windowInfo = {
                width: window.innerWidth,
                height: window.innerHeight
            }
            console.log(windowInfo);
        };
        window.addEventListener('resize', getWindowInfo);


        document.getElementById('buttons-hbox').addEventListener('input', e => {
            console.log(e.target.value);
        });


        return;
        document.getElementById("xh").addEventListener('input', e => {
            document.getElementById("lh").value = e.target.value;
        })


        const divParent = document.getElementById('parent');
        const divChild = document.createElement('div');
        divChild.innerText = 'assdsad'
        divChild.parentElement

        const types = ['blur', 'focus']
        types.forEach(function (item) {
            document.getElementById('xh').addEventListener(item, () => {
                // debugger

                if ('blur' === item) {
                    console.log(item);

                    divParent.removeChild(divChild)
                    // divChild.style.display = 'none'
                } else if ('focus' === item) {
                    console.log(item);

                    divParent.insertBefore(divChild, divParent.firstElementChild);
                    // divParent.removeChild(divChild)
                    // console.log(divParent);
                    // divChild.style.display = 'display'
                }

            });
        })


        return;


        var ul = document.getElementsByTagName('ul')[0];
        console.log(ul);
        var li = document.createElement('LI');
        li.innerHTML = '<a>2323</a>'
        // var liText = document.createTextNode('11');
        // li.appendChild(liText)
        ul.appendChild(li)
        console.log(ul);

        return
        // 第一种方法
        let obj = {"name": "tom", "age": 16}
        let key = "id";
        let value = 2
        obj['id'] = value;
        console.log(obj)

        // 第二种方法，利用扩展运算符,简单又实用
        var obj1 = {"vue": 300, "jquery": 200};
        var obj2 = {"react": 500};
		var obj3 = {
			...obj1,
			...obj2
		}
		console.log(obj3)

		// 第三种办法
		let obj4 = {a: "1"};
		let obj5 = {b: "2"};
		let obj6 = {c: "3"};
		Object.assign(obj4, obj5, obj6);
		console.log(obj4)


		const formData = {
			a: 1,
			b: 2,
			c: 3,
		};

		console.log(formData);
		formData.push("username", "Groucho");
		console.log(formData);


		let parent = document.getElementsByName('parent')
		console.log(parent);
		let children = document.getElementById('children')
        console.log(parent.contains(children))


		var the_ul = document.getElementById('list');
		var the_li = the_ul.getElementsByTagName('li');
		for (var i = 0; i < the_li.length; i++) {
			the_li[i].onclick = function () {
				console.log(this.innerHTML)
				console.log(this)
			}
		}


		/*var the_ul = document.getElementById('list');
		the_ul.onclick = function (e) {
			console.log(e.target.innerHTML)
		}*/
	}
</script>
</body>
</html>