<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>
    <input id="btn" onclick="ffffffffff()" type="button">
</label>
<a>gggggggggg</a>
<script>


	const num = 1
	console.log(1 !== num)
	console.log(/[1|2]/ !== num)
	console.log((1 && 2))
	console.log((1 & 2))
	console.log((1 || 2))
	console.log((1 | 2))

	function ffffffffff() {
        const btn = document.getElementsByTagName("a")[0];

        console.log(this)
        console.log(btn)

        console.log(btn === document.activeElement)  //true
        console.log(document.activeElement)  //true

        console.log(window.getSelection())  //true

        this.blur()
        console.log(btn === document.activeElement)  //true
        // console.log(btn.hasFocus())  //true


        // Does the element have focus:
        // const hasFocus = $('input').is(':focus');
        // console.log(hasFocus)

		// Does the element have focus:
		// const hasFocus2 = $(this).is(':focus');
		// console.log(hasFocus2)
		// console.log(!hasFocus2)

		const elem = btn.ownerDocument.activeElement;
		console.log(elem);
	}
</script>
</body>
</html>