<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
	const c = 1
	const d = '1'
	const e = '1'
	console.log(d - 1)
	console.log(1 instanceof Number)
	console.log(c instanceof Number)
	console.log(d instanceof Number)
	console.log(typeof c)
	console.log(typeof d)
	console.log(typeof 2 === "number")
	console.log(typeof c === "number")
	console.log(Object.prototype.toString.call(c))
	console.log(Object.prototype.toString.call(c) === '[object Number]')
	console.log(Object.prototype.toString.call(d))

	console.log(1.1 % 1)
</script>
</body>
</html>