<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #a {
            float: left;
        }

        #b {
            /*display: block;
            margin: 0 auto;*/
            /*display: inline-block;
            text-align: center;*/
            display: block;
            text-align: center;
        }

        #c {
            float: right;
        }
    </style>
</head>
<body>
<div>
    <div id="a">a</div>
    <div id="b">b</div>
    <div id="c">c</div>
</div>
</body>
</html>