table, td {
    border: 1px solid #333;
    text-align: center;
    overflow: hidden;
}

table {
    table-layout: fixed;
    white-space: nowrap;
}

h1 {
    text-align: center;
}

#username, #logout, #save {
    display: inline-block;
}

#save {
    float: right;
}

#findButton {
    margin-right: 10px;
}

#findSelect {
    margin-left: 10px;
}

li a {
    cursor: pointer;
}