body::before {
    display: block;
    content: '';
    height: 58px;
}

li a {
    cursor: pointer;
}

td:first-of-type label input {
    width: 70px;
}

td:nth-of-type(6) label input {
    width: 111px;
}

#findButton {
    margin-right: 10px;
}