/* Auto Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1B1B1B;
    }
}

body::before {
    display: block;
    content: '';
    height: 60px;
    background: grey;
}

li a {
    cursor: pointer;
}

#findA {
    margin-right: 20px;
}