/* Auto Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1B1B1B;
    }
}

body::before {
    display: block;
    content: '';
    height: 60px;
}

li a {
    cursor: pointer;
}

nav div a:nth-child(5) {
    margin-left: 14.6%;
}

section div input + a {
    margin-right: 20px;
}

span label input {
    width: 100px;
}

.currentPage {
    background: #0D6EFD;
}