<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://www.runoob.com/images/tryitimg.gif" rel="shortcut icon" type="image/x-icon">
    <title>员工管理</title>
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/employee.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand">员工管理系统</a>
        <a class="navbar-brand">Welcome:</a>
        <a class="navbar-brand" id="username" sec:authentication="name"></a>
        <form action="/logout" method="post">
            <input name="_csrf" th:if="${_csrf}" th:value="${_csrf.token}" type="hidden">
            <button class="btn navbar-brand" type="submit">退出</button>
        </form>
        <a class="navbar-toggler" data-bs-target="#navmenu" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div class="nav-link">业绩</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">排假</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">活动</div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="p-3">
    <div class="container input-group mb-1">
        <select aria-label="Default select example" id="findSelect">
            <option value="employeeName">姓名</option>
            <option value="employeeSex">性别</option>
            <option value="employeeAge">年龄</option>
            <option value="employeeIdCard">身份证号码</option>
            <option value="employeeAddress">住址</option>
            <option value="employeePhoneNumber">电话号码</option>
            <option value="createdBy">添加者</option>
            <option value="createdDate">添加时间</option>
            <option value="lastModifiedDate">最后操作时间</option>
        </select>
        <input aria-label="Text input with dropdown button" class="form-control" id="findInput" type="search">
        <a class="btn btn-secondary" id="findA" type="button">查找员工</a>
        <!-- Button trigger modal -->
        <a class="btn btn-success" data-bs-target="#exampleModal" data-bs-toggle="modal" id="save"
           type="button">添加员工
        </a>
    </div>
    <table class="container table table-hover text-center table-bordered caption-top table-responsive-lg">
        <caption class="text-center">
            <h1>员工信息</h1>
        </caption>
        <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>姓名<i class="bi bi-chevron-expand"></i></th>
            <th>性别<i class="bi bi-chevron-expand"></i></th>
            <th>年龄<i class="bi bi-chevron-expand"></i></th>
            <th>身份证号码<i class="bi bi-chevron-expand"></i></th>
            <th>住址<i class="bi bi-chevron-expand"></i></th>
            <th>电话号码<i class="bi bi-chevron-expand"></i></th>
            <th>添加者<i class="bi bi-chevron-expand"></i></th>
            <th>添加时间<i class="bi bi-chevron-expand"></i></th>
            <th>最后操作时间<i class="bi bi-chevron-expand"></i></th>
            <th>更改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody class="table-secondary">
        <tr th:each="employee, stat: ${employees}">
            <th th:id="${employee.employeeId}"
                th:text="${stat.count + employees.getPageable().getPageNumber() * 10}"></th>
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.employeeSex}"></td>
            <td th:text="${employee.employeeAge}"></td>
            <td th:text="${employee.employeeIdCard}"></td>
            <td th:text="${employee.employeeAddress}"></td>
            <td th:text="${employee.employeePhoneNumber}"></td>
            <td th:text="${employee.createdBy}"></td>
            <td th:text="${employee.createdDate}"></td>
            <td th:text="${employee.lastModifiedDate}"></td>
            <td>
                <a class="btn btn-primary updateEmployee" data-bs-target="#exampleModal" data-bs-toggle="modal"
                   type="button">更改
                </a>
            </td>
            <td>
                <a class="btn btn-danger deleteEmployee" type="button">删除</a>
            </td>
        </tr>
        </tbody>
        <tfoot class="table-success">
        <tr>
            <td colspan="12">
                <div class="modal-footer no-margin-top">
                    <span th:if="${employees.hasContent()}">
                        <span>共</span>
                        <span th:text="${employees.totalElements}"></span>
                        <span>条数据</span>
                    </span>
                    <ul class="pagination pull-right no-margin" th:if="${employees.totalPages} > 1">
                        <li>
                            <a class="page-link" th:name="0">首页</a>
                        </li>
                        <li th:if="${employees.hasPrevious()}">
                            <a class="page-link" th:name="${employees.previousPageable().getPageNumber()}">上一页</a>
                        </li>
                        <li th:each="pageNum:${#numbers.sequence(0, employees.getTotalPages() - 1)}">
                            <a class="page-link" th:if="${pageNum ne employees.pageable.getPageNumber()}"
                               th:name="${pageNum}" th:text="${pageNum + 1}"></a>
                            <a class="page-link currentPage text-light" style='background: #0D6EFD;'
                               th:if="${pageNum eq employees.pageable.getPageNumber()}"
                               th:name="${pageNum}" th:text="${pageNum + 1}"></a>
                        </li>
                        <li th:if="${employees.hasNext()}">
                            <a class="page-link" th:name="${employees.nextPageable().getPageNumber()}">下一页</a>
                        </li>
                        <li>
                            <a class="page-link" th:name="${employees.getTotalPages() - 1}">尾页</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</section>
<!--<footer class="p-5 bg-dark text-white text-center">
    <div class="container">
        <p class="lead">Copyright &copy; 2022 $himinFXCVII All rights reserved.</p>
    </div>
</footer>-->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-bs-backdrop="static"
     id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">员工信息</h5>
                <a aria-label="Close" class="btn-close close-employee-modal" data-bs-dismiss="modal"
                   type="button"></a>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="col-form-label" for="recipient-name">姓名:</label>
                    <input class="form-control" id="recipient-name" maxlength="25" type="text">
                </div>
                <div class="mb-3">
                    <label class="col-form-label" for="recipient-idCard">身份证号码:</label>
                    <input class="form-control" id="recipient-idCard" maxlength="18" type="text">
                </div>
                <div class="mb-3">
                    <label class="col-form-label" for="recipient-address">住址:</label>
                    <input class="form-control" id="recipient-address" maxlength="45" type="text">
                </div>
                <div class="mb-3">
                    <label class="col-form-label" for="recipient-phoneNumber">电话号码:</label>
                    <input class="form-control" id="recipient-phoneNumber" maxlength="11" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary close-employee-modal" data-bs-dismiss="modal" type="button">关闭</a>
                <a class="btn btn-success" data-bs-dismiss="modal" id="saveEmployee" type="button">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999">
    <div aria-atomic="true" aria-live="assertive" class="toast hide bg-warning" id="liveToast" role="alert">
        <div class="toast-header">
            <strong class="me-auto">提示消息</strong>
            <small>现在</small>
            <a aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></a>
        </div>
        <div class="toast-body">
            操作失败，请检查后重试。
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- JavaScript Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/employee.js"></script>
</body>
</html>