<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="UTF-8">
    <link th:href="@{/css/index.css}" th:rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <title>Manage</title>
</head>
<body>
<h1>员工管理</h1>
<form th:id="employeeForm">
    <table>
        <thead>
        <tr>
            <td th:text='编号'></td>
            <td th:text='姓名'></td>
            <td th:text='性别'></td>
            <td th:text='年龄'></td>
            <td th:text='身份证号码'></td>
            <td th:text='住址'></td>
            <td th:text='电话号码'></td>
            <td th:text='添加者'></td>
            <td th:text='添加时间'></td>
            <td th:text='最后操作时间'></td>
            <td th:text='更改'></td>
            <td th:text='删除'></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, stati: ${employee}" th:id="'trId' + ${stati.count}">
            <td th:text="${stati.count}"></td>
            <td>
                <label>
                    <input th:name="employeeName" th:type="text" th:value="${employee.employeeName}">
                </label>
            </td>
            <td>
                <label>
                    <select th:class="${employee.employeeSex}" th:id="'sexSelectId' + ${stati.count}" th:name="sex">
                        <option th:value="Male" th:text="Male"></option>
                        <option th:value="Female" th:text="Female"></option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <select th:class="${employee.employeeAge}" th:id="'ageSelectId' + ${stati.count}" th:name="age">
                        <option th:value="18" th:text="18"></option>
                        <option th:value="19" th:text="19"></option>
                        <option th:value="20" th:text="20"></option>
                        <option th:value="21" th:text="21"></option>
                        <option th:value="22" th:text="22"></option>
                        <option th:value="23" th:text="23"></option>
                        <option th:value="24" th:text="24"></option>
                        <option th:value="25" th:text="25"></option>
                        <option th:value="26" th:text="26"></option>
                        <option th:value="27" th:text="27"></option>
                        <option th:value="28" th:text="28"></option>
                        <option th:value="29" th:text="29"></option>
                        <option th:value="30" th:text="30"></option>
                        <option th:value="31" th:text="31"></option>
                        <option th:value="32" th:text="32"></option>
                        <option th:value="33" th:text="33"></option>
                        <option th:value="34" th:text="34"></option>
                        <option th:value="35" th:text="35"></option>
                        <option th:value="36" th:text="36"></option>
                        <option th:value="37" th:text="37"></option>
                        <option th:value="38" th:text="38"></option>
                        <option th:value="39" th:text="39"></option>
                        <option th:value="40" th:text="40"></option>
                        <option th:value="41" th:text="41"></option>
                        <option th:value="42" th:text="42"></option>
                        <option th:value="43" th:text="43"></option>
                        <option th:value="44" th:text="44"></option>
                        <option th:value="45" th:text="45"></option>
                        <option th:value="46" th:text="46"></option>
                        <option th:value="47" th:text="47"></option>
                        <option th:value="48" th:text="48"></option>
                        <option th:value="49" th:text="49"></option>
                        <option th:value="50" th:text="50"></option>
                        <option th:value="51" th:text="51"></option>
                        <option th:value="52" th:text="52"></option>
                        <option th:value="53" th:text="53"></option>
                        <option th:value="54" th:text="54"></option>
                        <option th:value="55" th:text="55"></option>
                        <option th:value="56" th:text="56"></option>
                        <option th:value="57" th:text="57"></option>
                        <option th:value="58" th:text="58"></option>
                        <option th:value="59" th:text="59"></option>
                        <option th:value="60" th:text="60"></option>
                        <option th:value="61" th:text="61"></option>
                        <option th:value="62" th:text="62"></option>
                        <option th:value="63" th:text="63"></option>
                        <option th:value="64" th:text="64"></option>
                        <option th:value="65" th:text="65"></option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input th:class="employeeIdCard" th:maxlength="18" th:type="text"
                           th:value="${employee.employeeIdCard}">
                </label>
            </td>
            <td>
                <label>
                    <input th:type="text" th:value="${employee.employeeAddress}">
                </label>
            </td>
            <td>
                <label>
                    <input th:type="text" th:value="${employee.employeePhoneNumber}">
                </label>
            </td>
            <td th:text="${employee.createdBy}"></td>
            <td th:text="${employee.createdDate}"></td>
            <td th:text="${employee.lastModifiedDate}"></td>
            <td>
                <label>
                    <input th:onclick="updateEmployee([[${employee.employeeId}]], [[${stati.count}]])" th:type="button"
                           th:value="更改">
                </label>
            </td>
            <td>
                <label>
                    <input th:onclick="deleteEmployee([[${employee.employeeId}]], this)" th:type="button" th:value="删除">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<form th:action="@{/employee/save}" th:method="post">
    <label>
        <input th:type="submit" th:value="添加">
    </label>
</form>
<form th:action="@{/logout}" th:method="post">
    <label>
        <input th:type="submit" th:value="退出">
    </label>
</form>
</body>
</html>