<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<p>
    <a>Welcome:</a>
    <a th:text="${#authentication.name}"></a>
</p>
<a href="/employee">员工管理</a>
<!--<a th:href="@{/employee(username=${#authentication.name})}">员工管理</a>-->
<form action="/logout" method="post">
    <label>
        <input hidden name="_csrf" th:if="${_csrf}" th:value="${_csrf.token}">
    </label>
    <button type="submit">退出</button>
</form>
</body>
</html>