<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description">
    <meta name="author">
    <title>Please log in</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- 居然可以不写 action="/login" !!! -->
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please log in</h2>
        <p>
            <label class="sr-only" for="username">username</label>
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
        </p>
        <p>
            <label class="sr-only" for="password">password</label>
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </p>
        <p>
            <label>
                <input name="remember-me" type="checkbox"> Remember me on this computer.
            </label>
        </p>
        <!-- 从 Spring Security4 开始 CSRF 防护默认开启。默认会拦截请求。进行 CSRF 处理。CSRF 为了保证不是其他第三方网站访问，
        要求访问时携带参数名为_csrf 值为 token(token 在服务端产生)的内容，如果token 和服务端的 token 匹配成功，则正常访问。 -->
        <!--<input name="_csrf" type="hidden" value="34f6b3e4-c1ff-4158-98d5-823fbf3ca283">-->
        <input name="_csrf" th:if="${_csrf}" th:value="${_csrf.token}" type="hidden">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	!function () {
		$(document).on('click', '.btn-primary', function () {
			if ($('#username').val() === '' || $('#password').val() === '') {
				alert('Please enter username and password.');
				// 如果不 return false, 表单还是会提交!
				return false;
			}
		})
	}()
</script>
</body>
</html>