<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="utf-8">
    <meta th:name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta th:name="description">
    <meta th:name="author">
    <title>Please sign in</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}" th:rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          th:crossorigin="anonymous">
    <link th:href="@{https://getbootstrap.com/docs/4.0/examples/signin/signin.css}" th:rel="stylesheet"
          th:crossorigin="anonymous">
</head>
<body>
<div th:class="container">
    <form th:class="form-signin" th:method="post" th:action="@{/login}">
        <h2 th:class="form-signin-heading">Please sign in</h2>
        <p>
            <label th:for="username" th:class="sr-only">Username</label>
            <input th:type="text" id="username" th:name="username" th:class="form-control" th:placeholder="Username">
        </p>
        <p>
            <label th:for="password" th:class="sr-only">Password</label>
            <input th:type="password" id="password" th:name="password" th:class="form-control"
                   th:placeholder="Password">
        </p>
        <input th:name="_csrf" type="hidden" th:value="34f6b3e4-c1ff-4158-98d5-823fbf3ca283">
        <button class="btn btn-lg btn-primary btn-block" th:type="submit">Sign in</button>
    </form>
</div>
</body>
</html>