<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/index.css" rel="stylesheet">
    <title>登录</title>
</head>
<body>
<h1>请先登录账号</h1>

<table>
    <thead>
        <tr>
            <td>11111111111dddddddddddddddddddddddddddddddd</td>
            <td>22222222222</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>33333333333</td>
            <td>44444444444</td>
        </tr>
    </tbody>
</table>
</body>
</html>