<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:charset="UTF-8">
    <title>更改员工信息</title>
</head>
<body>
<form th:action="@{/employee/updateEmployee}" th:method="post">
    姓名:
    <label>
        <input th:type="text" th:value="${employee.name}" th:name="name"/>
    </label>
    性别:
    <label>
        <input th:type="text" th:value="${employee.sex}" th:name="sex"/>
    </label>
    年龄:
    <label>
        <input th:type="text" th:value="${employee.age}" th:name="age"/>
    </label>
    身份证号码:
    <label>
        <input th:type="text" th:value="${employee.idCard}" th:name="idCard"/>
    </label>
    住址:
    <label>
        <input th:type="text" th:value="${employee.address}" th:name="address"/>
    </label>
    电话:
    <label>
        <input th:type="text" th:value="${employee.phoneNumber}" th:name="phoneNumber"/>
    </label>
    <label>
        <input th:type="submit" th:value="确认更改"/>
    </label>
</form>
</body>
</html>