<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Employee Info</h1>
<div data-v-3af43504="" class="content">
    <div data-v-3af43504="" class="page-header-index-wide">
        <div data-v-3af43504="">
            <div class="ant-card">
                <div class="ant-card-body" style="padding: 16px;">
                    <div class="table-page-search-wrapper">
                        <form class="ant-form ant-form-inline">
                            <div class="ant-row" style="margin-left: -24px; margin-right: -24px;">
                                <div class="ant-col ant-col-sm-24 ant-col-md-6"
                                     style="padding-left: 24px; padding-right: 24px;">
                                    <div class="ant-row ant-form-item">
                                        <div class="ant-col ant-form-item-label"><label title="关键词："
                                                                                        class="">关键词</label></div>
                                        <div class="ant-col ant-form-item-control-wrapper">
                                            <div class="ant-form-item-control"><span
                                                    class="ant-form-item-children"><input type="text" class="ant-input"></span>
                                                <!----></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ant-col ant-col-sm-24 ant-col-md-6"
                                     style="padding-left: 24px; padding-right: 24px;">
                                    <div class="ant-row ant-form-item">
                                        <div class="ant-col ant-form-item-label"><label title="文章状态："
                                                                                        class="">文章状态</label></div>
                                        <div class="ant-col ant-form-item-control-wrapper">
                                            <div class="ant-form-item-control"><span class="ant-form-item-children"><div
                                                    tabindex="0"
                                                    class="ant-select ant-select-enabled ant-select-allow-clear"><div
                                                    role="combobox" aria-autocomplete="list" aria-haspopup="true"
                                                    aria-controls="71c9f9d7-105d-40c6-d982-bf03899cd831"
                                                    class="ant-select-selection ant-select-selection--single"><div
                                                    class="ant-select-selection__rendered"><div unselectable="on"
                                                                                                class="ant-select-selection__placeholder"
                                                                                                style="display: block; user-select: none;">请选择文章状态</div></div><span
                                                    unselectable="on" class="ant-select-arrow"
                                                    style="user-select: none;"><i aria-label="图标: down"
                                                                                  class="anticon anticon-down ant-select-arrow-icon"><svg
                                                    viewBox="64 64 896 896" data-icon="down" width="1em" height="1em"
                                                    fill="currentColor" aria-hidden="true" focusable="false" class=""><path
                                                    d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></i></span></div></div></span>
                                                <!----></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ant-col ant-col-sm-24 ant-col-md-6"
                                     style="padding-left: 24px; padding-right: 24px;">
                                    <div class="ant-row ant-form-item">
                                        <div class="ant-col ant-form-item-label"><label title="分类目录："
                                                                                        class="">分类目录</label></div>
                                        <div class="ant-col ant-form-item-control-wrapper">
                                            <div class="ant-form-item-control"><span class="ant-form-item-children"><div
                                                    tabindex="0"
                                                    class="ant-select ant-select-enabled ant-select-allow-clear"><div
                                                    role="combobox" aria-autocomplete="list" aria-haspopup="true"
                                                    aria-controls="ee6475c3-c0be-4eac-daf6-af04289fe0e4"
                                                    class="ant-select-selection ant-select-selection--single"><div
                                                    class="ant-select-selection__rendered"><div unselectable="on"
                                                                                                class="ant-select-selection__placeholder"
                                                                                                style="display: block; user-select: none;">请选择分类</div></div><span
                                                    unselectable="on" class="ant-select-arrow"
                                                    style="user-select: none;"><i aria-label="图标: down"
                                                                                  class="anticon anticon-down ant-select-arrow-icon"><svg
                                                    viewBox="64 64 896 896" data-icon="down" width="1em" height="1em"
                                                    fill="currentColor" aria-hidden="true" focusable="false" class=""><path
                                                    d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></i></span></div></div></span>
                                                <!----></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ant-col ant-col-sm-24 ant-col-md-6"
                                     style="padding-left: 24px; padding-right: 24px;"><span
                                        class="table-page-search-submitButtons"><div
                                        class="ant-space ant-space-horizontal ant-space-align-center"><div
                                        class="ant-space-item" style="margin-right: 8px;"><button type="button"
                                                                                                  class="ant-btn ant-btn-primary"><span>查 询</span></button></div><div
                                        class="ant-space-item"><button type="button"
                                                                       class="ant-btn"><span>重 置</span></button></div></div></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mb-5">
                        <div class="ant-space ant-space-horizontal ant-space-align-center">
                            <div class="ant-space-item" style="margin-right: 8px;"><a href="#/posts/write" class="">
                                <button type="button" class="ant-btn ant-btn-primary"><i aria-label="图标: plus"
                                                                                         class="anticon anticon-plus">
                                    <svg viewBox="64 64 896 896" data-icon="plus" width="1em" height="1em"
                                         fill="currentColor" aria-hidden="true" focusable="false" class="">
                                        <path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path>
                                        <path d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"></path>
                                    </svg>
                                </i><span>写文章</span></button>
                            </a></div>
                            <div class="ant-space-item">
                                <button type="button" class="ant-btn"><i aria-label="图标: delete"
                                                                         class="anticon anticon-delete">
                                    <svg viewBox="64 64 896 896" data-icon="delete" width="1em" height="1em"
                                         fill="currentColor" aria-hidden="true" focusable="false" class="">
                                        <path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"></path>
                                    </svg>
                                </i><span>回收站</span></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ant-table-wrapper" scrolltofirstrowonchange="true">
                            <div class="ant-spin-nested-loading">
                                <div class="ant-spin-container">
                                    <div class="ant-table ant-table-scroll-position-left ant-table-layout-fixed ant-table-default">
                                        <div class="ant-table-content"><!---->
                                            <div class="ant-table-body">
                                                <table class="">
                                                    <colgroup>
                                                        <col class="ant-table-selection-col">
                                                        <col style="width: 200px; min-width: 200px;">
                                                        <col style="width: 100px; min-width: 100px;">
                                                        <col>
                                                        <col>
                                                        <col style="width: 70px; min-width: 70px;">
                                                        <col style="width: 70px; min-width: 70px;">
                                                        <col style="width: 170px; min-width: 170px;">
                                                        <col style="width: 180px; min-width: 180px;">
                                                    </colgroup>
                                                    <thead class="ant-table-thead">
                                                    <tr>
                                                        <th key="selection-column" class="ant-table-selection-column">
                                                            <span class="ant-table-header-column"><div><span
                                                                    class="ant-table-column-title"><div
                                                                    class="ant-table-selection"><label
                                                                    class="ant-checkbox-wrapper"><span
                                                                    class="ant-checkbox"><input type="checkbox"
                                                                                                class="ant-checkbox-input"
                                                                                                value=""><span
                                                                    class="ant-checkbox-inner"></span></span></label></div></span><span
                                                                    class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="title"
                                                            class="ant-table-row-cell-ellipsis ant-table-row-cell-break-word">
                                                            <span class="ant-table-header-column"><div><span
                                                                    class="ant-table-column-title">标题</span><span
                                                                    class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="status" class="ant-table-row-cell-break-word"><span
                                                                class="ant-table-header-column"><div><span
                                                                class="ant-table-column-title">状态</span><span
                                                                class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="categories" class=""><span
                                                                class="ant-table-header-column"><div><span
                                                                class="ant-table-column-title">分类</span><span
                                                                class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="tags" class=""><span class="ant-table-header-column"><div><span
                                                                class="ant-table-column-title">标签</span><span
                                                                class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="commentCount" class="ant-table-row-cell-break-word">
                                                            <span class="ant-table-header-column"><div><span
                                                                    class="ant-table-column-title">评论</span><span
                                                                    class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="visits" class="ant-table-row-cell-break-word"><span
                                                                class="ant-table-header-column"><div><span
                                                                class="ant-table-column-title">访问</span><span
                                                                class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="createTime" class="ant-table-row-cell-break-word"><span
                                                                class="ant-table-header-column"><div><span
                                                                class="ant-table-column-title">发布时间</span><span
                                                                class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                        <th key="8"
                                                            class="ant-table-row-cell-break-word ant-table-row-cell-last">
                                                            <span class="ant-table-header-column"><div><span
                                                                    class="ant-table-column-title">操作</span><span
                                                                    class="ant-table-column-sorter"></span></div></span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="ant-table-tbody">
                                                    <tr class="ant-table-row ant-table-row-level-0" data-row-key="3">
                                                        <td class="ant-table-selection-column"><span><label
                                                                class="ant-checkbox-wrapper"><span class="ant-checkbox"><input
                                                                type="checkbox" class="ant-checkbox-input"
                                                                value=""><span class="ant-checkbox-inner"></span></span></label></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-ellipsis ant-table-row-cell-break-word">
                                                            <!----><!----><a href="/archives/testone" target="_blank"
                                                                             class="no-underline"> test one </a></td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="ant-badge ant-badge-status ant-badge-not-a-wrapper"><span
                                                                class="ant-badge-status-dot ant-badge-status-success"></span><span
                                                                class="ant-badge-status-text">已发布</span></span></td>
                                                        <td class=""></td>
                                                        <td class=""><span class="ant-tag ant-tag-has-color"
                                                                           style="background-color: rgb(207, 211, 215); color: inherit; margin-bottom: 8px;"> qqqq </span>
                                                        </td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="cursor-pointer ant-badge ant-badge-not-a-wrapper"><sup
                                                                title="0" class="ant-scroll-number ant-badge-count"
                                                                data-show="true"
                                                                style="background-color: rgb(243, 129, 129);">0</sup></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="cursor-pointer ant-badge ant-badge-not-a-wrapper"><sup
                                                                title="2" class="ant-scroll-number ant-badge-count"
                                                                data-show="true"
                                                                style="background-color: rgb(0, 224, 255);"><span
                                                                class="ant-scroll-number-only"
                                                                style="transition: none 0s ease 0s; transform: translateY(-200%);"><p
                                                                class="ant-scroll-number-only-unit">0</p><p
                                                                class="ant-scroll-number-only-unit">1</p><p
                                                                class="ant-scroll-number-only-unit current">2</p><p
                                                                class="ant-scroll-number-only-unit">3</p><p
                                                                class="ant-scroll-number-only-unit">4</p><p
                                                                class="ant-scroll-number-only-unit">5</p><p
                                                                class="ant-scroll-number-only-unit">6</p><p
                                                                class="ant-scroll-number-only-unit">7</p><p
                                                                class="ant-scroll-number-only-unit">8</p><p
                                                                class="ant-scroll-number-only-unit">9</p><p
                                                                class="ant-scroll-number-only-unit">0</p><p
                                                                class="ant-scroll-number-only-unit">1</p><p
                                                                class="ant-scroll-number-only-unit">2</p><p
                                                                class="ant-scroll-number-only-unit">3</p><p
                                                                class="ant-scroll-number-only-unit">4</p><p
                                                                class="ant-scroll-number-only-unit">5</p><p
                                                                class="ant-scroll-number-only-unit">6</p><p
                                                                class="ant-scroll-number-only-unit">7</p><p
                                                                class="ant-scroll-number-only-unit">8</p><p
                                                                class="ant-scroll-number-only-unit">9</p><p
                                                                class="ant-scroll-number-only-unit">0</p><p
                                                                class="ant-scroll-number-only-unit">1</p><p
                                                                class="ant-scroll-number-only-unit">2</p><p
                                                                class="ant-scroll-number-only-unit">3</p><p
                                                                class="ant-scroll-number-only-unit">4</p><p
                                                                class="ant-scroll-number-only-unit">5</p><p
                                                                class="ant-scroll-number-only-unit">6</p><p
                                                                class="ant-scroll-number-only-unit">7</p><p
                                                                class="ant-scroll-number-only-unit">8</p><p
                                                                class="ant-scroll-number-only-unit">9</p></span></sup></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class=""> 3 天前 </span></td>
                                                        <td class="ant-table-row-cell-break-word">
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>编辑</span></button>
                                                            <div role="separator"
                                                                 class="ant-divider ant-divider-vertical"></div>
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>删除</span></button>
                                                            <div role="separator"
                                                                 class="ant-divider ant-divider-vertical"></div>
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>设置</span></button>
                                                        </td>
                                                    </tr>
                                                    <tr class="ant-table-row ant-table-row-level-0" data-row-key="1">
                                                        <td class="ant-table-selection-column"><span><label
                                                                class="ant-checkbox-wrapper"><span class="ant-checkbox"><input
                                                                type="checkbox" class="ant-checkbox-input"
                                                                value=""><span class="ant-checkbox-inner"></span></span></label></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-ellipsis ant-table-row-cell-break-word">
                                                            <!----><!----><a href="/archives/hello-halo" target="_blank"
                                                                             class="no-underline"> Hello Halo </a></td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="ant-badge ant-badge-status ant-badge-not-a-wrapper"><span
                                                                class="ant-badge-status-dot ant-badge-status-success"></span><span
                                                                class="ant-badge-status-text">已发布</span></span></td>
                                                        <td class=""><span class="ant-tag ant-tag-blue"
                                                                           style="margin-bottom: 8px;"> 默认分类 </span>
                                                        </td>
                                                        <td class=""></td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="cursor-pointer ant-badge ant-badge-not-a-wrapper"><sup
                                                                title="0" class="ant-scroll-number ant-badge-count"
                                                                data-show="true"
                                                                style="background-color: rgb(243, 129, 129);">0</sup></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class="cursor-pointer ant-badge ant-badge-not-a-wrapper"><sup
                                                                title="0" class="ant-scroll-number ant-badge-count"
                                                                data-show="true"
                                                                style="background-color: rgb(0, 224, 255);">0</sup></span>
                                                        </td>
                                                        <td class="ant-table-row-cell-break-word"><span
                                                                class=""> 3 天前 </span></td>
                                                        <td class="ant-table-row-cell-break-word">
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>编辑</span></button>
                                                            <div role="separator"
                                                                 class="ant-divider ant-divider-vertical"></div>
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>删除</span></button>
                                                            <div role="separator"
                                                                 class="ant-divider ant-divider-vertical"></div>
                                                            <button type="button" class="!p-0 ant-btn ant-btn-link">
                                                                <span>设置</span></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-wrapper">
                            <ul unselectable="unselectable" class="pagination ant-pagination">
                                <li title="上一页" aria-disabled="true"
                                    class="ant-pagination-disabled ant-pagination-prev"><a
                                        class="ant-pagination-item-link"><i aria-label="图标: left"
                                                                            class="anticon anticon-left">
                                    <svg viewBox="64 64 896 896" data-icon="left" width="1em" height="1em"
                                         fill="currentColor" aria-hidden="true" focusable="false" class="">
                                        <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path>
                                    </svg>
                                </i></a></li>
                                <li title="1" tabindex="0"
                                    class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active">
                                    <a>1</a></li>
                                <li title="下一页" aria-disabled="true"
                                    class="ant-pagination-disabled ant-pagination-next"><a
                                        class="ant-pagination-item-link"><i aria-label="图标: right"
                                                                            class="anticon anticon-right">
                                    <svg viewBox="64 64 896 896" data-icon="right" width="1em" height="1em"
                                         fill="currentColor" aria-hidden="true" focusable="false" class="">
                                        <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path>
                                    </svg>
                                </i></a></li>
                                <li class="ant-pagination-options">
                                    <div tabindex="0"
                                         class="ant-select ant-select-enabled ant-pagination-options-size-changer">
                                        <div role="combobox" aria-autocomplete="list" aria-haspopup="true"
                                             aria-controls="36255a00-0ea6-44f1-c5a8-cfcf4ac85171"
                                             class="ant-select-selection ant-select-selection--single">
                                            <div class="ant-select-selection__rendered">
                                                <div title="10 条/页" class="ant-select-selection-selected-value"
                                                     style="display: block; opacity: 1;">10 条/页
                                                </div>
                                            </div>
                                            <span unselectable="on" class="ant-select-arrow" style="user-select: none;"><i
                                                    aria-label="图标: down"
                                                    class="anticon anticon-down ant-select-arrow-icon"><svg
                                                    viewBox="64 64 896 896" data-icon="down" width="1em" height="1em"
                                                    fill="currentColor" aria-hidden="true" focusable="false" class=""><path
                                                    d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></i></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!----></div><!----></div>
</div>
aaaaaaaaaaaaaaaa
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Birthday</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>
            <a th:href="@{/employee/save}">add employee</a>
        </th>
    </tr>
    <tr th:each="employee:${list}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.sex}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.birthday}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.phoneNumber}"></td>
    </tr>
</table>
<form action="/logout" method="post">
    <input type="submit" value="Log Out">
</form>
</body>
</html>